.header{
    height: 80px;
    background-color: rgb(2, 2, 50);
    margin-top: -22px;
    margin-left: -9px;
    margin-right: -8px;
    position: sticky;
    top: 0;
    z-index: 1;
      
}
.title{
    color: white;
    margin-left: 40px;
    padding-top: 19px;
}
.main{
    margin-left: 320px;
    margin-top: -58px;
}
#lap{
    color: white;
}
.submain{
    display: inline;
    list-style-type: none;
    font-size: 20px;
}
.fa{
    text-decoration: none;
    color: gray;
    padding-right: 10px;
}
#landscape{
    transform: rotate(90deg);
    padding: 5px;
}
.inp{
    background-color: transparent;
    border: 1px solid gray;
    height: 40px;
    width: 230px;
    margin-left: 20px;
    margin-top: -40px;
    position: relative;
}
#Ad{
    background-color: transparent;
    color: white;
    padding: 6px;
    margin-left: 4px;
    font-size: 20px;
    border: 1px solid gray;
}
.logo{
    position: absolute;
    top: 23px;
    left: 530px;
    height: 50px;
    width: 200px;
}
.photo{
    background-image: url(/images/corp.png);
    background-size: cover;
    height: 700px;
    margin-top: -35px;
    margin-left: -10px;
    margin-right: -8px;
    
}
.sub{
    padding-top: 20px;
    padding-left: 50px;
    color: white;
    font-size: 50px;
}
.subct{
    margin-left: 300px;
    margin-top: -70px;
}
.subcontent{
    display: inline;
    list-style-type: none;
    padding-left: 50px;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
}
#search{
    color: white;
    padding-left: 50px;
}
.media{
    margin-left: 1px;
    margin-top: 50px;
    display: inline-block;
    width: 5px;
    position: fixed;
    z-index: 1;
}
.shares{
    background-color: white;
    padding: 1px;
    width: 44px;
    margin-bottom: -2px;
}
#smedia1{
    color: white;
    background-color: blue;
    padding: 17px;
    font-size: 20px;
    text-decoration: none;
}
#smedia2{
    color: white;
    background-color: black;
    padding: 14px;
    font-size: 20px;
    text-decoration: none;
}
#smedia3{
    color: white;
    background-color: red;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
}
#smedia4{
    color: white;
    background-color: green;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
}
.corp{
    margin-left: 100px;
    margin-top: 130px;
    color: white;
}
.c1{
    font-size: 50px;
    margin-top: -20px;
}
.btn1{
    font-size: 20px;
    padding: 10px;
    width: 150px;
    background-color: orange;
    color: white;
    border-radius: 20px;
    border: 0;
    margin-right: 5px;
}
.btn2{
    font-size: 20px;
    padding: 10px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 0;
}
.arrow{
    margin-left: 1090px;
    margin-top: -300px;
}
#btn3{
    padding: 15px;
    width: 70px;
    background-color: orange;
    color: white;
    font-size: 20px;
    border: 0;
    margin-bottom: 10px;
}
#btn4{
    padding: 15px;
    width: 70px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: 0;
}
.aus{
    margin-top: 400px;
    margin-left: 90px;
}
.spec1{
    margin-top: 80px;
    margin-left: 90px;
}
.model1{
    background-image: url(/images/about-img.png);
    background-size: cover;
    height: 300px;
    width: 500px;
    border-radius: 30px;
}
.explain1{
    margin-left: 600px;
    margin-top: -240px;
    margin-right: 50px;
    padding: 15PX;
    line-height: 30px;
    font-size: 20px;
}
.readbtn{
    color: white;
    background-color: orange;
    padding: 12px;
    width: 120px;
    border: 0;
    border-radius: 20px;
}
.bcontent{
    height: 900px;
    width: 1070px;
    border: 3px solid orange;
    border-radius: 20px;
    margin-top: 650px;
    margin-left: 90px;
}
.what{
    margin-top: 50px;
    margin-left: 50px;
}
.bc1{
    display: flex;
}
.bcont1{
    width: 250px;
    padding: 20px;
    line-height: 30px;
    margin-top: 80px;
    margin-left: 50px;
}
#icon{
    color: orange;
    font-size: 50px;
}
.bcont2{
    width: 250px;
    padding: 20px;
    line-height: 30px;
    margin-top: 80px;
    margin-left: 50px;
}
.bcont3{
    width: 250px;
    padding: 20px;
    line-height: 30px;
    margin-top: 80px;
    margin-left: 50px;
}
.bc2{
    display: flex;
    margin-top: -50px;
}
.more{
    font-size: 20px;
    padding: 10px;
    width: 150px;
    background-color: orange;
    color: white;
    border-radius: 20px;
    border: 0;
    margin-left: 450px;
    margin-top: 20px;
}
.spec2{
    margin-top: 150px;
    margin-left: 90px;
}
.model2{
    background-image: url(/images/blog-img.png);
    background-size: cover;
    height: 300px;
    width: 500px;
    border-radius: 30px;
}
.explain2{
    margin-left: 600px;
    margin-top: -300px;
    margin-right: 50px;
    padding: 15PX;
    line-height: 30px;
    font-size: 20px;
}
.vcaption{
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}
.vid{
   background-image: url(/images/corporate.jpg);
   height: 500px;
   width: 1100px;
   border-radius: 20px;
   margin-top: 50px;
   margin-left: 110px;
   position: relative;
}
#play{
    display: box;
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, hotpink 0%, tomato 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 200px;
  left: 500px;
  animation: pulse 1s infinite;
}
@keyframes pulse {
    from {
      transform: scale(1);
      opacity: .9;
    }
    to {
      transform: scale(1.3);
      opacity: 0;
    }
  }
  .msg{
    height: 700px;
    margin-top: 100px;
    margin-left: -10px;
    margin-right: -8px;
    background-color: rgb(1, 1, 28);
    position: relative;
  }
  .get{
    color: white;
    padding-top: 50px;
    margin-left: 90px;
  }
  .user{
    margin-top: 50px;
    margin-left: 90px;
  }
.uinput{
    height: 40px;
    width: 530px;
    margin-top: 20px;
}
textarea{
    margin-top: 20px;
}
.send{
    margin-top: 30px;
    background-color: orange;
    color: white;
    font-size: 25px;
    padding: 10px;
    width: 130px;
    border-radius: 30px;
    border: 0;
}
iframe{
    width: 500px;
    height: 350px;
    border:0;
    position: absolute;
    top: 220px;
    left: 700px;
}
.says{
    margin-top: 100px;
}
hr{
    width: 100px;
    height: 1px;
    background-color: black;
}
.fb{
    padding: 20px;
    height: 250px;
    line-height: 30px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: larger;
}
#empty{
    margin-top: 50px;
    padding: 10px;
    width: 70px;
    background-color: orange;
    border-radius: 10px;
    border: 0;
}
.footer{
    background-color: black;
    height: 500px;
    margin-top: 100px;
    margin-left: -10px;
    margin-right: -8px;
    display: flex;
}
.f1{
    color: white;
    width: 300px;
    line-height: 30px;
    margin-left: 100px;
    padding-top: 130px;  
}
.fp{
    font-size: larger;
}
#loc{
    background-color: transparent;
    color: white;
    border: 1px solid orange;
    padding: 10px;
    font-size: 20px;
    width: 250px;
}
#mail{
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    width: 300px;
}
.sus{
    color: orange;
    background-color: transparent;
    font-size: 20px;
    border: 0;
    margin-top: 10px;
}
#fm{
    margin-top: 20px;
    color: white;
    font-size: 30px;
}
.copy{
    margin-top: -30px;
    color: white;
    text-align: center;
}